<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="杭州小蓓网络科技有限公司" />
	<meta name="discrption" content="杭州小蓓网络科技有限公司 是一件技术开发、技术服务、技术咨询、成果转让公司。
	主要经营技术开发、技术服务、技术咨询、成果转让：计算机网络信息技术、多媒体技术、计算机数据处理技术、计算机系统集成技术。" />
	<title>scroll - 杭州小蓓网络科技有限公司</title>
	<link rel="stylesheet" href="../public/css/scroll.css">
</head>
<body>
<h3>start scroll</h3>
<div id="box">
<div class="front"></div>
<div class="back"></div>
<div class="top"></div>
<div class="bottom"></div>
<div class="left"></div>
<div class="right"></div>
</div>
<div style="text-align:center;clear:both">
</div>
<script src="../public/js/scroll.js"></script>
</body>
</html>